<div class="main-navigation fixed-top site-header" id="mainmenu-area">
  <nav class="navbar navbar-expand-lg ">
    <div class="container align-items-center">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        {{ if .Site.Params.logo }}
        <img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
        {{ else }}
        <h2 class="mb-0 text-color">{{ .Site.Title }}</h2>
        {{ end }}
      </a>
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmain"
        aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="ti-menu-alt"></span>
      </button>

      <!-- Collapse -->
      <div class="collapse navbar-collapse text-center text-lg-left" id="navbarmain">
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
          {{ if .IsHome }}
          {{ range .Site.Menus.main }}
          <li class="nav-item">

            <a class="nav-link smoth-scroll" href="#{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}

          {{ else }}

          {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link smoth-scroll" href="{{ $.Site.BaseURL }}#{{ .URL }}">{{ .Name }}</a>
          </li>
          {{ end }}
        </ul>
        {{ end }}

        {{ if .Site.Params.navButton.enable }}
        {{ "<!-- nav btn -->" | safeHTML }}
        <a class="nav-link smoth-scroll" href="{{ $.Site.BaseURL }}adat.pdf">Adatkezelés</a>
        {{ end }}
      </div>
    </div>
  </nav>
</div>