<section class="page-banner-area bg-grey">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-md-12 col-12 ">
        <div class="page-banner-content text-center">
          <h1 class="display-4 font-weight-bold mb-2">{{ .Title | markdownify }}</h1> 
        </div>
      </div>
    </div>
  </div>
</section>