
/*----------------------
 BANNER STYLE
-----------------------*/

.py-7 {
    padding: 5rem 0;
}


/*-------------------------
 HOME -2 
-----------------------------*/
.banner-main{
    position: relative;

    &:before{
    	position: absolute;
    	content: "";
    	left: 0px;
    	top:0px;
    	width: 100%;
        background:#F4F7FC;
    	height: 80%;

    }
}


h1{
    font-size: 60px;
    line-height: 70px;
    color: #263b5e;
    font-weight: 600;
}

.main-banner {
    padding: 80px 0px 150px;

    p{
    	padding-right: 100px;
    }
}


// Responsive


@include mobile{
    h1 {
        font-size: 45px;
        line-height: 55px;
    }
}
@include mobile-xs{
    h1 {
        font-size: 36px;
        line-height: 46px
    }
}


// @include tablet{
//     h1 {
//         font-size: 45px;
//         line-height: 55px;
//     }
// }

