<a href="{{ .Params.url1 }}" target="_blank">
  <div class="blog-item card mb-4 border-0">
    <h4 class="mt-5 mb-4 mx-auto">{{ .Params.Author | title }}</h4>
    <img src="{{ .Params.Image | relURL }}" alt="{{ .Title | markdownify }}" class="img-fluid w-100">
    <div class="blog-item-content p-4">
      <div class="blog-meta mb-2">
        <span>{{ .PublishDate.Format "2006 Jan 02" }}</span>
        {{ .Title | markdownify }}
        <!-- <i class="ti-user ml-2"></i> -->

      </div>
      <!-- <h4 class="mt-2 mb-3"><a href="{{ .Params.url }}">{{ .Title | markdownify }}</a></h4> -->

    </div>
  </div>
</a>